// fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

// colors
$main-black: #17202a;
$main-white: #fdfefe;

// font-faimly
$ff-1: "raleway", Courier New, Courier;
