@import "variables";
@import "global";
@import "layouts";
@import "typography";

// * ----- GLOBAL STYLES -----
@include global-reset;

h1,
h2,
h3,
h4 {
  padding: 0.5rem;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

body {
  color: $main-white;
  font-size: 1.1rem;
}

// * ---- GLOBAL CLASSES -----
.flexBox {
  @include flex-box();
}

// * ----- App -----
.app {
  // box model
  width: 100vw;
  min-height: 100vh;
  padding: (1rem 2rem);
  // visuals
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas:
    "header header header"
    "forecast main graph"
    "forecast main graph";

  background: url("https://res.cloudinary.com/ddlvcqggy/image/upload/v1622180763/weather-app-react/bg/sunrise_hsaw4r.jpg");
  background-attachment: fixed;

  // * ----- HEADER -----
  #header {
    // visuals
    @extend .flexBox;
    flex-direction: column;
    grid-area: header;
    // box model
    margin-bottom: 1rem;
    h1 {
      font-weight: 500;
      margin-bottom: 0.5rem;
      letter-spacing: 0px;
    }

    form {
      .search-bar {
        // box model
        padding: 0.25rem 0.5rem;
        border: none;
        border-radius: 0.25rem 0rem 0rem 0.25rem;
        // typography
        font-size: 1.1rem;
      }

      .search-btn {
        // box model
        padding: 0.25rem 0.5rem;
        border: none;
        border-radius: 0rem 0.25rem 0.25rem 0rem;
        // visuals
        color: $main-white;
        background-color: $main-black;
        // typography
        font-size: 1.1rem;
        // misc
        cursor: pointer;
      }
    }
  }

  // * --- FORECAST ---
  #forecast {
    // box model
    width: 100%;
    height: 70vh;
    // visuals
    @extend .flexBox;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: forecast;
    // misc
    overflow: scroll;
    -ms-overflow-style: scroll; // IE and Edge
    scrollbar-width: scroll; // Firefox
    // hides the scroll bar but keeps the functionality
    &::-webkit-scrollbar {
      display: none;
    }

    .weather-card {
      // box model
      width: 100%;
      height: 4rem;
      padding: 0rem 1rem;
      margin: 0.5rem;
      border-radius: 0.25rem;
      // visuals
      @extend .flexBox;
      justify-content: space-between;
      background-color: rgba($color: $main-white, $alpha: 0.2);

      .date {
      }

      .weather-info {
        width: 60%;
        // visuals
        @extend .flexBox;
        justify-content: flex-end;
        .weather-icon {
        }
        .description {
          width: 4rem;
          margin-left: 1rem;
          font-style: italic;
          font-size: 0.8rem;
        }
      }
    }
  }

  // * --- MAIN ---
  #main {
    // visuals
    @extend .flexBox;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: main;
    grid-column: 2/3;
    // typography
    text-align: center;
    text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.4);

    .location {
      padding-bottom: 1rem;
    }

    .temperature {
      // box model
      width: 20rem;
      height: 20rem;
      padding: 1rem;
      border-radius: 0.5rem;
      // visuals
      background-color: rgba($color: $main-white, $alpha: 0.2);
      .temp {
        font-size: 5rem;
        margin-bottom: 1rem;
      }
    }
  }

  // * --- GRAPH ---
  #graph {
    // box model
    width: 100%;
    // visuals
    @extend .flexBox;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: graph;
  }
}
