@import "variables";
@import "global";
@import "mixins";
@import "layouts";
@import "typography";

// * ----- GLOBAL STYLES -----
@include global-reset;

h1,
h2,
h3,
h4 {
  padding: 0.5rem;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0px;
}

@include headings(2.5rem, 600, 2, 3, 1rem);

body {
  color: $main-white;
  font-size: 1.1rem;
}

body:not(.app #header, .temp) {
  text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.4);
}

// * ---- GLOBAL CLASSES -----
.flexBox {
  @include flex-box();
}

// * ----- App -----
.app {
  // box model
  width: 100vw;
  min-height: 100vh;
  padding: 1rem 2rem;
  // visuals
  display: grid;
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  grid-template-areas:
    "header header header"
    "status status status"
    "forecast main graph"
    "forecast main info";

  background: url("https://res.cloudinary.com/ddlvcqggy/image/upload/v1622180763/weather-app-react/bg/sunrise_hsaw4r.jpg");
  background-attachment: fixed;

  // * ----- HEADER -----
  #header {
    // visuals
    @extend .flexBox;
    flex-direction: column;
    grid-area: header;
    // box model
    margin-bottom: 1rem;
    // typography
    text-shadow: none;

    form {
      .search-bar {
        // box model
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        // typography
        font-size: 1.1rem;
      }

      .search-btn {
        // box model
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        // visuals
        color: $main-white;
        background-color: $main-black;
        // typography
        font-size: 1.1rem;
        // misc
        cursor: pointer;
      }
    }
  }

  // * --- FORECAST ---
  #forecast {
    // visuals
    grid-area: forecast;
    // box model
    width: 100%;
    height: 60vh;
    margin-top: 0.5rem;

    .card-container {
      // box model
      width: 100%;
      height: 100%;
      @extend .flexBox;
      justify-content: flex-start;
      flex-direction: column;
      // misc
      overflow: scroll;
      -ms-overflow-style: scroll; // IE and Edge
      scrollbar-width: scroll; // Firefox
      // hides the scroll bar but keeps the functionality
      &::-webkit-scrollbar {
        display: none;
      }

      .weather-card {
        // box model
        width: 100%;
        height: 4rem;
        padding: 0rem 1rem;
        margin: 0.5rem;
        border-radius: 0.25rem;
        // visuals
        @extend .flexBox;
        justify-content: space-between;
        background-color: rgba($color: $main-white, $alpha: 0.2);

        .weather-info {
          width: 60%;
          // visuals
          @extend .flexBox;
          justify-content: flex-end;

          .temp-maxmin {
            width: 5rem;
            text-align: left;
          }

          .description {
            width: 4rem;
            font-style: italic;
            font-size: 0.8rem;
            text-align: center;
          }
        }
      }
    }
  }

  // * --- MAIN ---
  #main {
    // visuals
    @extend .flexBox;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: main;
    // typography
    text-align: center;

    .location {
      padding-bottom: 1rem;
    }

    .temperature {
      // box model
      width: 20rem;
      height: 20rem;
      padding: 1rem;
      margin-top: 1rem;
      border-radius: 0.5rem;
      // visuals
      background-color: rgba($color: $main-white, $alpha: 0.2);
      .temp {
        margin-bottom: 1rem;
        font-size: 5rem;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.4),
          3px 3px 8px rgba($color: #000000, $alpha: 0.4);
      }
    }
  }

  // * --- GRAPH ---
  #graph {
    // box model
    width: 100%;
    height: 100%;
    // visuals
    @extend .flexBox;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: graph;
  }

  // * --- INFO ---
  #info {
    grid-area: info;
    // box model
    height: 10rem;
    border-left: 2px solid $main-white;
    padding: 1rem 2rem;
    margin: 2rem 3rem;
    // typography
    line-height: 1.5;

    .weather-icon {
      margin: 0rem 0.5rem;
    }

    .keyName {
      font-weight: 500;
    }
  }
}

// * ----- STATUS -----

.loader {
  // visuals
  grid-area: status;
  background-color: #fff;
  // box model
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 1rem;
  // misc
  --duration: 700ms;
  animation: smooth var(--duration) ease-out infinite,
    fade-out var(--duration) ease-out infinite;
}

@include keyframes(smooth) {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@include keyframes(fade-out) {
  0%,
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// * ----- MEDIA QUERIES -----

// * --- SMALL SCREENS ---
@media (min-width: 768px) and (max-width: 1024px) {
  // --- GLOBAL STYLES ---
  h1,
  h2,
  h3,
  h4 {
    padding: 0.5rem;
    letter-spacing: 2px;
    text-align: center;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0px;
  }

  @include headings(2.5rem, 600, 2, 3, 1rem);

  body {
    font-size: 1.3rem;
  }

  // --- GLOBAL CLASSES ---

  // --- APP ---
  .app {
    // box model
    width: 100vw;
    min-height: 100vh;
    padding: 1rem 3rem;
    // visuals
    display: grid;
    grid-template-rows: 15vh auto auto auto auto;
    grid-template-columns: none;
    gap: 1rem;
    grid-template-areas:
      "header"
      "status"
      "main"
      "info"
      "graph"
      "forecast";

    background-repeat: no-repeat;
    object-fit: cover;

    // ---INFO ---
    #info {
      // box model
      padding: 1rem;
      margin: auto;
      margin-bottom: 2rem;
      border: none;
    }

    #graph {
      height: 30vh;
      margin-bottom: 1rem;
      padding: 1rem;
    }

    #forecast {
      max-width: 100%;
      height: 100%;
      padding: 2rem;
      margin: auto;
    }
  }
}
// * --- MOBILE ---
@media (max-width: 480px) {
  // --- GLOBAL STYLES ---
  h1,
  h2,
  h3,
  h4 {
    padding: 0.5rem;
    letter-spacing: 2px;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0px;
  }

  @include headings(2rem, 600, 2, 3, 0.5rem);

  body {
    color: $main-white;
    font-size: 1.1rem;
  }

  // --- GLOBAL CLASSES ---

  // --- APP ---
  .app {
    // box model
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 1rem;
    // visuals
    display: grid;
    grid-template-rows: 15vh auto auto auto auto;
    grid-template-columns: none;
    gap: 1rem;
    grid-template-areas:
      "header"
      "status"
      "main"
      "info"
      "graph"
      "forecast";

    background-repeat: no-repeat;
    object-fit: cover;

    // --- HEADER ---
    #header {
      form {
        .search-bar {
          width: 60vw;
        }
      }
    }

    // ---INFO ---
    #info {
      // box model
      padding: 1rem;
      margin: auto;
      margin-bottom: 1rem;
      border: none;
    }

    // --- GRAPH ---
    #graph {
      height: 30vh;
      margin-bottom: 1rem;
    }

    // --- FORECAST ---
    #forecast {
      max-width: 100%;
      height: 100%;
      margin: auto;
    }
  }
}
