@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway", Courier New, Courier;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0.5rem;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

body {
  color: #fdfefe;
  font-size: 1.1rem;
}

body:not(.app #header, .temp) {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.flexBox, .app #graph, .app #main, .app #forecast .card-container .weather-card .weather-info, .app #forecast .card-container .weather-card, .app #forecast .card-container, .app #header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  grid-template-areas: "header header header" "status status status" "forecast main graph" "forecast main info";
  background: url("https://res.cloudinary.com/ddlvcqggy/image/upload/v1622180763/weather-app-react/bg/sunrise_hsaw4r.jpg");
  background-attachment: fixed;
}
.app #header {
  flex-direction: column;
  grid-area: header;
  height: 18vh;
  margin-bottom: 1rem;
  text-shadow: none;
}
.app #header form .search-bar {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  font-size: 1.1rem;
}
.app #header form .search-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  color: #fdfefe;
  background-color: #17202a;
  font-size: 1.1rem;
  cursor: pointer;
}
.app #forecast {
  grid-area: forecast;
  width: 100%;
  height: 60vh;
  margin-top: 0.5rem;
}
.app #forecast .card-container {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: scroll;
  scrollbar-width: scroll;
}
.app #forecast .card-container::-webkit-scrollbar {
  display: none;
}
.app #forecast .card-container .weather-card {
  width: 100%;
  height: 4rem;
  padding: 0rem 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  justify-content: space-between;
  background-color: rgba(253, 254, 254, 0.2);
}
.app #forecast .card-container .weather-card .weather-info {
  width: 60%;
  justify-content: flex-end;
}
.app #forecast .card-container .weather-card .weather-info .temp-maxmin {
  width: 5rem;
  text-align: left;
}
.app #forecast .card-container .weather-card .weather-info .description {
  width: 4rem;
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}
.app #main {
  justify-content: flex-start;
  flex-direction: column;
  grid-area: main;
  text-align: center;
}
.app #main .location {
  padding-bottom: 1rem;
}
.app #main .temperature {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(253, 254, 254, 0.2);
}
.app #main .temperature .temp {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 3px 3px 8px rgba(0, 0, 0, 0.4);
}
.app #graph {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  grid-area: graph;
}
.app #info {
  grid-area: info;
  height: 10rem;
  border-left: 2px solid #fdfefe;
  padding: 1rem 2rem;
  margin: 2rem 3rem;
  line-height: 1.5;
}
.app #info .weather-icon {
  margin: 0rem 0.5rem;
}
.app #info .keyName {
  font-weight: 500;
}

.loader {
  grid-area: status;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 1rem;
  --duration: 700ms;
  animation: smooth var(--duration) ease-out infinite, fade-out var(--duration) ease-out infinite;
}

@-webkit-keyframes smooth {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes smooth {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-ms-keyframes smooth {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes smooth {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes smooth {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fade-out {
  0%, 30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0%, 30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  0%, 30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0%, 30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0%, 30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  h1,
h2,
h3,
h4 {
    padding: 0.5rem;
    letter-spacing: 2px;
    text-align: center;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0px;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  body {
    font-size: 1.3rem;
  }

  .app {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem 3rem;
    display: grid;
    grid-template-rows: 15vh auto auto auto auto;
    grid-template-columns: none;
    gap: 1rem;
    grid-template-areas: "header" "status" "main" "info" "graph" "forecast";
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .app #info {
    padding: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    border: none;
  }
  .app #graph {
    height: 30vh;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .app #forecast {
    max-width: 100%;
    height: 100%;
    padding: 2rem;
    margin: auto;
  }
}
@media (max-width: 480px) {
  h1,
h2,
h3,
h4 {
    padding: 0.5rem;
    letter-spacing: 2px;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  body {
    color: #fdfefe;
    font-size: 1.1rem;
  }

  .app {
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 1rem;
    display: grid;
    grid-template-rows: 15vh auto auto auto auto;
    grid-template-columns: none;
    gap: 1rem;
    grid-template-areas: "header" "status" "main" "info" "graph" "forecast";
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .app #header form .search-bar {
    width: 60vw;
  }
  .app #info {
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    border: none;
  }
  .app #graph {
    height: 30vh;
    margin-bottom: 1rem;
  }
  .app #forecast {
    max-width: 100%;
    height: 100%;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
